@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Matemasie&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Bebas Neue";
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.412), rgba(255, 255, 255, 0.204)),url(../Assets/Pagina_Principal/Fondo.jpg) no-repeat center center fixed;
    background-size: cover;

}

.inicio .contenido{
    max-width: 1100px;
    margin: auto;
    color: #ffffff;
}

.inicio header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 30px;
    align-items: center;
    background-color: #387F39;
    border-radius: 25px;
    box-sizing: border-box;
}

.inicio .logo{
    display: flex;
    align-items: center;
    color: #F6E96B;
    font-size:  20px;
}

.inicio .logo i{
    display: inline-block;
    margin-right: 20px;
    padding: 5px 25px;
}

#inicio header nav a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 25px;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-size: 20px;
}

#inicio header nav a:hover {
    border-bottom: 2px solid #73BBA3;
}

.inicio .fila{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
    align-items: center;
}

#info-zoo{
    background-color: #387f39b0;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.inicio .fila .info{
    width: 50%;
}

.inicio .fila .info h2{
    margin: 15px 15px;
    font-size: 50px;
    font-family: "Matemasie", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.inicio .fila .info p{
    margin: 30px 15px;
    font-size: 35px;
    padding: 0px 30px;
}

.inicio .fila .info .contenedor-img{
    max-width: 400px;
    margin: auto;
}

.inicio .fila .info .contenedor-img img{
    width: 170%;
    margin-top: 50px;
}

.inicio .fila .info button{
    font-size: 20px;
    padding: 5px 40px;
    border: 2px solid #A2CA71;
    color: #ffffff;
    background: linear-gradient(to right, #88D66C, #73BBA3);
    transition: .5s;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 20px;
}

.inicio .fila .info button:hover{
    transform: scale(1.1);
}

#icono-nav{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    display: none;
}

#icono-nav:hover{
    background-color: #FFCF81;
}

.juegos{
    padding: 50px 150px;
    background-color: #f7fb7aae;
}

.container-titulo-juegos h2{
    background-image: url(/Assets/Pagina_Principal/LetreroFondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
}


.card-container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.card{
    width: auto;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.card-container .card:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img{
    width: 260px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
    margin-left: 15px;
    color: #000000;
}

.card-content p {
    color: #5b5a54;
    font-size: 15px;
    line-height: 1.3;
    margin-left: 15px;
}

.card-content .card_button{
    display: flex;
    justify-content: center;
    background-color: #387F39;
    text-decoration: none;
    border-radius: 25px;
    margin: 16px 50px;
    color: #fff;
    padding: 5px;
    font-size: 20px;
    box-sizing: border-box;
}

.informacion{
    padding: 0px 140px;
}

.container-titulo-informacion h2{
    background-image: url(/Assets/Pagina_Principal/LetreroFondo1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

.container-informacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.container-metodologia{
    display: flex;
    flex-direction: row;
    margin: 50px 0px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.container-metodologia .card{
    flex:1;
    margin: 20px 20px;
    background: #a2ca71e0;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-metodologia .card img{
    width: 150px;
    height: auto;
    padding: 0px 10px
}

.container-metodologia .card h3{
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.container-metodologia .card p{
    font-size: 20px;
}

.interno{
    display: flex;
    text-align: center;
    margin: 10px 0px;
}

/* Media Queries */

@media (max-width: 1024px) {
    .inicio header {
        padding: 10px;
    }

    .inicio .fila {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .inicio .fila .info {
        width: 80%;
        text-align: center;
    }

    .inicio .fila .info button {
        font-size: 18px;
        padding: 10px 20px;
    }

    .princi {
        max-width: 110%;  /* Ajusta el tamaño de la imagen para pantallas más pequeñas */
        margin: 0 auto;  /* Asegura que siga centrada */
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .container-informacion {
        flex-direction: column; /* Pone los elementos uno debajo del otro */
    }

    .container-metodologia {
        flex-direction: column; /* Pone las tarjetas uno debajo del otro */
    }

    .container-metodologia .card {
        width: 100%; /* Las tarjetas ocuparán el 100% del ancho */
        margin: 10px 0px; /* Reduce el margen para hacerlo más compacto */
    }

}

@media (max-width: 768px) {
    .inicio header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .inicio .logo {
        font-size: 18px;
    }

    .inicio .fila .info h2 {
        font-size: 35px;
    }

    .inicio .fila .info p {
        font-size: 25px;
    }

    .card img {
        width: 90%;
        height: auto;
    }

    .container-metodologia .card img {
        width: 120px;
    }

    .container-metodologia .card h3 {
        font-size: 20px;
    }

    .container-metodologia .card p {
        font-size: 16px;
    }

    .container-titulo-juegos h2 {
        font-size: 35px;
    }

    .container-titulo-informacion h2 {
        font-size: 35px;
    }

    .informacion {
        padding: 0px 30px;
    }
}

@media (max-width: 480px) {
    .inicio .logo {
        font-size: 16px;
    }

    .inicio .fila .info h2 {
        font-size: 30px;
    }

    .inicio .fila .info p {
        font-size: 20px;
    }
}